apps_domain: {{ apps_domain }}
timeout: {{ timeout }}
applications:
- name: auth-gateway
  buildpack: java_buildpack
  env:
    HDFS_SUPERUSER: {{ hdfs_super_user }}{{ authgateway_principals_suffix if kerberos_host != '' }}
    HDFS_KEYTAB: {{ auth_gateway_keytab_value }}
    HGM_PRINCIPAL: {{ hgm_principal }}{{ authgateway_principals_suffix if kerberos_host != '' }}
    HGM_PRINCIPAL_KEYTAB: {{ hgm_keytab_value }}
    HGM_URL: {{ hgm_adress }}
    HGM_USERNAME: {{ hgm_username }}
    HGM_PASSWORD: {{ hgm_password }}
    SENTRY_KEYTAB: {{ sentry_keytab_value }}
    SENTRY_ADDRESS: {{ sentry_address }}
    SENTRY_PORT: {{ sentry_port }}
    SENTRY_PRINCIPAL: {{ sentry_principal }}
    SENTRY_SUPERUSER: {{ sentry_superuser }}{{ authgateway_principals_suffix if kerberos_host != '' }}
    SPRING_PROFILES_ACTIVE: {{ auth_gateway_profile }}
    KRB_KDC: "{{ kerberos_host }}"
    KRB_PASSWORD: "{{ kerberos_password if kerberos_host != '' }}"
    KRB_REALM: "{{ kerberos_realm if kerberos_host != '' }}"
    KRB_USER: "{{ kerberos_username }}"
    HADOOP_PROVIDED_ZIP: '{{ import_hadoop_conf_hdfs }}'
    ZK_CLUSTER_URL: {{ master_node_host_1 }}:2181,{{ master_node_host_2 }}:2181,{{ master_node_host_3 }}:2181
